$gray-badge: #eeeeef;
$gray-bg: #f2f2f6;
$gray-block: #b7b7bb;
$gray-border: #8e8e93;

body {
  background-color: $gray-bg;
}

/**
  fonts
**/

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 0 10px;
}

@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('SFProDisplay-Regular'),
  url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Test Founders Grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('TestFoundersGrotesk-Regular'),
  url('../fonts/TestFoundersGrotesk-Regular.woff2') format('woff2'),
  url('../fonts/TestFoundersGrotesk-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('SFProDisplay-Semibold'),
  url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local('SFProDisplay-Semibold'),
  url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Inter-Regular'),
  url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local('Inter-Regular'),
  url('../fonts/Inter-SemiBold.woff2') format('woff2'),
  url('../fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  font-weight: 500;
  src: local('Inter-Regular'),
  url('../fonts/FixelDisplay-Medium.woff2') format('woff2'),
  url('../fonts/FixelDisplay-Medium.woff') format('woff');
  font-display: swap;
}

.circle {
  width: 56px;
  height: 56px;
  background-color: $gray-badge;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.text-medium {
  font-size: 16px;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 0.5px;
}

.text-small {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 0.5px;
}

.text-large {
  font-size: 24px;
  font-family: 'Test Founders Grotesk', sans-serif;
  font-weight: 600;
  line-height: 123%;
  letter-spacing: 0.5px;

  &-semi {
    font-weight: 500;
  }
}

.text-medium-bold {
  font-size: 16px;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  line-height: 123%;
  letter-spacing: 0.5px;
}

.text-sm-medium {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 123%;
  letter-spacing: 0.5px;
}

.transaction-list {
  padding: 16px;
}

.chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  svg {
    margin-top: 3px;
  }

}

.blue-chevron {
  width: 28px;
  height: 28px;
  position: fixed;
  top: 25px;
  left: 25px;

  svg {
    path {
      fill: #2f80ed;
    }
  }
}
